<h1>Welcome to the Library</h1>

<div class="container">
  <a href="/authors">View All Authors</a>
  <a href="/authors/new">Add New Author</a>
</div>

<div class="container">
  <a href="/books">View All Books</a>
  <a href="/books/new">Add New Book</a>
</div>
